.page {
  display: flex;
  flex-direction: column;

  gap: 24px;

  padding: 16px;
}

@media only screen and (min-width: 1200px) {
  .page {
    flex-direction: row;
    gap: 64px;

    padding: 48px 64px 52px;
  }
}

.listWrapper {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .listWrapper {
    width: 888px;
  }
}

.searchForm {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .searchForm {
    display: block;
  }
}
