.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 100px;

  width: 100%;

  padding: 44px 54px;

  border-radius: 10px;
  background: #f7f7f7;
}

@media only screen and (min-width: 1200px) {
  .section {
    width: 631px;
  }
}

.title {
  padding-bottom: 24px;
  margin-bottom: 24px;

  border-bottom: solid 1px #dadde1;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
