.image {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.firstLineWrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;

  color: #101828;

  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.description {
  margin-bottom: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 525px;
}
.price {
  display: inline-block;
}
