.wrapper {
  width: 888px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  border: solid 2px #dadde1;
  border-radius: 20px;
}

.text {
  font-size: 28px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
