.menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);

  z-index: 1000;
}

.menuContent {
  position: relative;

  width: 90%;
  max-width: 600px;
  max-height: 80vh;

  background: #fff;
  border-radius: 10px;

  padding: 20px;
  padding-top: 38px;

  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 32px;
  height: 32px;

  background: none;
  cursor: pointer;
  outline: none;

  border: solid #807e7e 1px;
  border-radius: 50%;
}

.closeButton:hover {
  opacity: 0.8;
}

.icon {
  width: 10px;
  height: 10px;
}
