.page {
  padding: 48px 64px 80px;
}

.title {
  margin-bottom: 8px;

  font-size: 24px;

  font-weight: 600;
  line-height: 32px;
}

.price {
  margin-bottom: 28px;

  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.description {
  margin-bottom: 60px;
}

.sectionsWrapper {
  display: flex;
  gap: 40px;
}
