.page {
  padding: 24px;
}

@media only screen and (min-width: 768px) {
  .page {
    padding: 48px 64px 80px;
  }
}

.title {
  margin-bottom: 8px;

  font-size: 24px;

  font-weight: 600;
  line-height: 32px;
}

.price {
  margin-bottom: 28px;

  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.description {
  margin-bottom: 60px;
}

.sectionsWrapper {
  display: flex;
  flex-direction: column;

  gap: 40px;
}

@media only screen and (min-width: 1200px) {
  .sectionsWrapper {
    flex-direction: row;
  }
}
