.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 16px 32px;
  margin: 0 auto;

  color: #101828;

  font-weight: 500;

  border-radius: 200px;
  border: 1px solid #dadde1;
}
