.wrapper {
  margin-bottom: 14px;
}

.input {
  height: 60px;
  min-width: 260px;

  padding: 18px;

  border-radius: 12px;
  border-color: transparent;
  outline: transparent;

  background-color: #f7f7f7;
}

@media only screen and (min-width: 768px) {
  .input {
    min-width: 527px;
  }
}

.textarea {
  height: 118px;
  margin-bottom: 10px;
  resize: none;
}

.error {
  color: #ff6b6b;
  font-size: 14px;
  margin-top: 5px;
}
